@model BGMS_Repository.DTO.GameDTO

<h1>Edit game data</h1>
@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
    <button type="submit" class="btn btn-success">Save changes</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

