@model BGMS_Repository.DTO.GameDTO

<h1>Edit game data</h1>
@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
    <a href="@Url.Action("Index", "Game")" class="btn btn-info">Back to the list</a>
    <button type="submit" class="btn btn-success">Save changes</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

